<div class="grid" style="display: flex; justify-content: center; margin-top: 2pc;">
    <div>
        <p-card>
            <p-card header="Bienvenido"></p-card>

            <form [formGroup]="loginFormulario">
                <div style="justify-content: center;">
                    <span class="p-float-label">
                        <input type="text" id="inputgroup" pInputText>
                        <label for="inputgroup">Nickname</label>
                    </span>

                    <span class="p-float-label" style="margin-top: 2pc">
                        <p-password inputId="password"></p-password>
                        <label for="password">Contraseña</label>
                    </span>
                </div>
                <br>

                <p-footer>

                    <div style="justify-content: center;">
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-user"
                            label="Iniciar sesión" (click)="login()"> </button>

                        <p-divider type="dashed"></p-divider>
                        ¿No tienes una cuenta? <br> <br>
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-user"
                            label="Registrate" (click)="registro()">
                        </button>
                    </div>
                </p-footer>
            </form>
        </p-card>
    </div>

</div>